<div class="container-fluid ">
    <div class="row bg-info justify-content-center align-items-center" style="height: 100vh">
        <div class="col-sm-10 text-center">
            <h1 class=" display-2 text-capitalize"><span class="text-warning">
                Mean Stack 
            </span>
            <span class="text-light font-weight-bold">
                Developer
            </span>
        </h1>
            <h2 class="font-weight-light font-italic text-light">I am passionate to do challenged tasks</h2>
            <a here="#" class="btn btn-warning btn-lg px-3">Contact</a>
            <a here="#" class="btn btn-danger btn-lg px-3">Experience</a>
        </div>
    </div>
</div>

<section class="bg-light p-5">
    <div class="comatainer-fluid">
        <div class="row">
            <div class="col text-center mb-3">
                <h1 class="text-warning display-2">Skills</h1>
                <p class="lead text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam at cupiditate necessitatibus!</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-4 col-sm-10 mx-auto mb-5">
                <i class="fas fa-desktop fa-6x text-warning mb-3"></i>
                <h1 class="text-secondary">Development</h1>
                <p class="text-muted my-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde odit nihil itaque officia numquam voluptates ratione cumque non exercitationem dicta!</p>
                <a href="#" class="btn btn-outline-warning">Learn More</a>
            </div>
            <div class="col-lg-4 col-sm-10 mx-auto mb-5">
                <i class="fas fa-edit fa-6x text-warning mb-3"></i>
                <h1 class="text-secondary">Design</h1>
                <p class="text-muted my-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde odit nihil itaque officia numquam voluptates ratione cumque non exercitationem dicta!</p>
                <a href="#" class="btn btn-outline-warning">Learn More</a>
            </div>
            <div class="col-lg-4 col-sm-10 mx-auto mb-5">
                <i class="fas fa-cogs fa-6x text-warning mb-3"></i>
                <!-- <fa name="cog" animation="spin" class=""></fa> -->
                <h1 class="text-secondary">Creativity</h1>
                <p class="text-muted my-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde odit nihil itaque officia numquam voluptates ratione cumque non exercitationem dicta!</p>
                <a href="#" class="btn btn-outline-warning">Learn More</a>
            </div>
        </div>
    </div>
</section>

<section class="p-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mb-3">
                <h1 class="text-warning display-2">Projects</h1>
                <p class="lead text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam at cupiditate necessitatibus!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <img class="img-thumbnail" src="https://miro.medium.com/max/700/1*jAwFJjRn0DYRA3fnxrR9PQ.jpeg">
                <h1 class="my-3 text-warning">Project One</h1>
                <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, molestias.</p>
            </div>
            <div class="col-lg-3 col-sm-6 mt-3">
                <img class="img-thumbnail" src="https://railsware.com/blog/wp-content/uploads/2018/09/2400%D1%851260-rw-blog-node-js.png">
                <h1 class="my-3 text-warning">Project Two</h1>
                <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, molestias.</p>
            </div>
            <div class="col-lg-3 col-sm-6 mt-4">
                <img class="img-thumbnail" src="https://www.educative.io/api/page/5330288608542720/image/download/6288755792019456">
                <h1 class="my-3 text-warning">Project Three</h1>
                <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, molestias.</p>
            </div>
            <div class="col-lg-3 col-sm-6 mt-5">
                <img class="img-thumbnail" src="https://miro.medium.com/max/875/1*P8aGpuAxcVXgO4m7cByVtA.jpeg">
                <h1 class="my-3 text-warning">Project Four</h1>
                <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, molestias.</p>
            </div>
        </div>
    </div>
</section>